# Entorno de Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secretos y Configuración Local
.env
config_local.py
instance/
.pytest_cache/

# Logs y Bases de Datos
*.log
logs/
*.sqlite3
*.db

# Docker
.docker_temp/

# IDEs y Editores
.vscode/
.idea/
.project
.pydevproject
.settings/

# Archivos de sistema
Thumbs.db
.DS_Store
